* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #add2fc;
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  color: black;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.container {
  max-width: 1000px;
  margin: auto;
  padding: 30px 20px;
}

.navbar {
 background: #4689f7;
}

.nav-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 8px 12px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffeb3b;
}

.job-detail {
  background:white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.job-title {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #ffeb3b;
}

.company-name {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 10px;
}

.job-meta {
  font-size: 0.95rem;
  margin-bottom: 25px;
  color: black;
}

.job-section {
  margin-bottom: 25px;
}

.job-section h2 {
  font-size: 1.4rem;
  color: black;
  margin-bottom: 10px;
}

.job-section p, .job-section ul {
  font-size: 0.95rem;
  color: black;
  line-height: 1.6;
}

.job-section ul {
  padding-left: 20px;
}

.job-section ul li {
  margin-bottom: 8px;
  list-style: circle;
}

.cta-buttons {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.cta-btn,
.save-btn {
  padding: 12px 25px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.cta-btn {
  background: #ffeb3b;
  color: #000;
}

.cta-btn:hover {
  background: #ffe600;
}

.save-btn {
  background: transparent;
  border: 2px solid #ed0de5;
  color: black;
}

.save-btn:hover {
  background:radial-gradient(circle, #ed0de5, #ffeb3b);
    color: #fff;
    
}

.footer {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 0.9rem;
}
